In [2]:
# import lib
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Loading the csv file
df = pd.read_csv('UnicornCompanies.csv', encoding='cp1252')
df.head()

,Startup Name,Industry,Founding Year,Unicorn Entry Year,Profit in 2021,Current Valuation,Acquisitions,IPO Status
0,PhysicsWallah,Edtech,2016.0,2022.0,-$0.877 Million,$1.1 Billion,0.0,Unlisted
1,LeadSquared,SaaS- CRM,2011.0,2022.0,-$1 Million,$1 BIllion,0.0,Unlisted
2,ElasticRun,E-commerce Logistics,2015.0,2022.0,-$12 Million,$1.5 Billion,0.0,Unlisted
3,LEAD School,Edtech,2012.0,2022.0,-$15 Million,$1.1 Billion,1.0,Unlisted
4,Purplle,E-commerce Personal Care,2012.0,2022.0,-$6 Million,$1.1 Billion,1.0,Unlisted

In [6]:
# Checking for null values
df.isnull().sum()

Startup Name            0
Industry                0
Founding Year         825
Unicorn Entry Year    825
Profit in 2021        862
Current Valuation     825
Acquisitions          825
IPO Status            825
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 929 entries, 0 to 928
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Startup Name        929 non-null    object
 1   Industry            929 non-null    object
 2   Founding Year       104 non-null    float64
 3   Unicorn Entry Year  104 non-null    float64
 4   Profit in 2021      67 non-null     object
 5   Current Valuation   104 non-null    object
 6   Acquisitions        104 non-null    float64
 7   IPO Status          104 non-null    object
dtypes: float64(3), object(5)
memory usage: 58.2+ KB